$bg_color:           #2f333f;
$text_color:         #fef8e0;
$purple_color:       #030204;
$link_color:         #84cbdf;
$link_hover_color:   #addcea;
$link_visited_color: #a8a1b5;
$border_color:       #23222a;
$quote_border_color: #49515e;
$footer_color:       #fcedaf;
